<main>
    <xevlabs-ng-utils-auto-complete-wrapper></xevlabs-ng-utils-auto-complete-wrapper>
    <hr />
    <h2>Table service test</h2>
    <div class="buttons-container">
      Filter by {{ 'TEXT_FIELD' | transloco }}:
    <input [formControl]="filterControl"/>
        <button (click)="addFilter()">Add filter</button>
        <button (click)="removeFilter()">Remove filter</button>
    </div>
    <xevlabs-ng-utils-strapi-table
        [actionButtons]="actionButtons"
        (actionToggled)="displaySelectedTranslation($event)"
        [dataSource]="dataSource"
        [columnsDefinition]="columnsDefinition"
    ></xevlabs-ng-utils-strapi-table>
    <ng-template #nestedTextField let-entity="entity">
        {{
            entity.nested_collections?.data?.length && entity.nested_collections.data[0].attributes?.nestedTextField
                ? entity.nested_collections.data[0].attributes.nestedTextField
                : '--'
        }}
    </ng-template>
    <ng-template #username let-entity="entity">
        {{
            entity.user?.data?.attributes?.username
                ? entity.user.data.attributes.username
                : '--'
        }}
    </ng-template>
    <div *ngIf="actionType">
        <h2>Action Toggled Type:</h2>
        <p>{{ actionType }}</p>
        <h2>
            Selected Test Object in `{{ toggledLocale ? 'en' : 'fr' }}` locale:
            <button (click)="toggleLocale()">
                Switch to {{ toggledLocale ? 'fr' : 'en' }}
            </button>
        </h2>
        <p>{{ selectedObjectByLocale | json }}</p>
    </div>
</main>
