<main>
  <div class="auto-complete-container">
    <p>Autocomplete component test</p>
    <xevlabs-ng-utils-auto-complete-selector [prefix]="'autocomplete'" [path]="path" [searchByAttribute]="'value'" [collectionName]="'translations'">
    </xevlabs-ng-utils-auto-complete-selector>
  </div>
  <p>Table service test</p>
  <div class="buttons-container">
    <button (click)="addFilter()"> Add filter </button>
    <button (click)="removeFilter()"> Remove filter </button>
  </div>
  <p>
    {{ filters | json }}
  </p>
  <xevlabs-ng-utils-strapi-table [actionButtons]="actionButtons" [dataSource]="dataSource" [columnsDefinition]="columnsDefinition"></xevlabs-ng-utils-strapi-table>
</main>
